{% extends 'blog/base.html' %}
{% load wagtailcore_tags wagtailimages_tags blog_tags wagtailimages_tags %}

{% block header %}
{% image page.cover_image width-400 as cover_image%}
  <header class="masthead" style="background-image: url('{{ cover_image.url }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta">Posted by
              <a href="#">{{ page.owner }}</a>
              {{ page.date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

  <!-- Post Content -->
{% block content %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        {{ page.body|richtext }}
        </div>
      </div>
    </div>
  </article>
{% endblock %}
